<div class="row">
  <div class="col-sm-10 offset-md-1">
    <h2>Vehicle List</h2>
    <p >
          <a *ngIf="auth.isAuthenticated()" [routerLink]="['/vehicles/new']" class="btn btn-primary"> <i class="fas fa-plus-circle"></i> New Vehicle</a>
          <button type="button" class="btn " [class.btn-default]="isFilterCollapsed" [class.btn-success]="!isFilterCollapsed"
           (click)="isFilterCollapsed = !isFilterCollapsed"
          [attr.aria-expanded]="!isFilterCollapsed" aria-controls="collapseExample"> <i class="fas fa-filter"></i> Filter</button>
    </p>
    <div id="collapseExample" [ngbCollapse]="isFilterCollapsed">
    
    <div class="card">
      <div class="card-body">
         <div class="form-row">
            <div class="form-group col-md-5">                
                    <label for="make">Make</label>
                    <select id="make" name="make"  class="form-control" [(ngModel)]="query.makeId" (change)="onMakeChange()">
                      <option value=""></option>
                      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
                    </select>                
            </div>
            <div class="form-group col-md-5">
                
                    <label for="model">Model</label>
                    <select id="model" name="model"  class="form-control" [(ngModel)]="query.modelId" (change)="onModelChange()">
                      <option value=""></option>
                      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
                    </select>
                
            </div>
            <div class="col-md-2"  style="margin : auto;">
                
                <button class="btn btn btn-warning" (click)="resetFilter()"><i class="fas fa-redo-alt"></i> Reset</button>
                <!-- <button class="btn btn-default btn-lg" (click)="onFilterChange()"> <i class="fas fa-filter"></i> Filter</button> -->
            </div>
         </div>
          
          
            
            
      </div>
        
    </div>
    </div>
  
    <div class="col-sm-12">
        <table class="table">
            <thead class="table-success">
              <tr>
                
                <th *ngFor="let c of columns" >
                  <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
                      {{c.title}}
                      <i *ngIf="query.sortBy === c.key" class="fas"
                     [class.fa-sort-up] = "query.isSortAscending"
                     [class.fa-sort-down] = "!query.isSortAscending"></i>
                  </div>
                  <div *ngIf="!c.isSortable">
                      {{c.title}}                
                  </div>            
                </th>
                
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let v of queryResult.items">
               <td>{{v.id}}</td>
               <td>{{v.make.name}}</td>
               <td>{{v.model.name}}</td>
               <td>{{v.contact.name}}</td>
               <td> 
                  <a [routerLink]="['/vehicles/', v.id]"><i class="fas fa-eye"></i></a>  
                
                   
              </td>        
             </tr>
            </tbody>
          </table>
          <app-pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></app-pagination> 
    </div>
    
  </div>
</div>