<h2>Vehicle List</h2>
<p>
    <a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
</p>
<div class="row">
  <div class="col-sm-10">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let v of vehicles">
         <td>{{v.id}}</td>
         <td>{{v.contact.name}}</td>
         <td>{{v.contact.phone}}</td>
         <td>{{v.contact.email}}</td>
         <td> <a [routerLink]="['/vehicles/', v.id]">
                Link
              </a>
        </td>        
       </tr>
      </tbody>
    </table>
  </div>
</div>